<div class="container" id="sizeeducacion">

    <div class="row">
        <div class="col-1"></div>
        <div class="col" id="margen"><h2>Educación</h2></div>
    </div>

    <div class="row" id="margen">
        <div class="col-1"></div>
        <div class="col-1"><img [src]="educationData.educacion.first.image" class="img-fluid" alt="uncomalogo" id="uncomalogo"></div>
        <div class="col">
            <h3>{{educationData.educacion.first.name}}</h3>
            <h5>{{educationData.educacion.first.title}}</h5>
            <h6>{{educationData.educacion.first.date}}</h6>
        </div>
    </div>

    <div class="row" id="margen">
        <div class="col-1"></div>
        <div class="col-1"><img [src]="educationData.educacion.second.image" class="img-fluid" alt="eclalogo" id="eclalogo"></div>
        <div class="col">
            <h3>{{educationData.educacion.second.name}}</h3>
            <h5>{{educationData.educacion.second.title}}</h5>
            <h6>{{educationData.educacion.second.date}}</h6>
        </div>
    </div>
</div>