<div class="container" id="sizeeducacion">

    <div class="row">

        <div class="col-1"></div>
        <div class="col" id="margen"><h2>Educación</h2></div>

    </div>

    <div class="row" id="margen">

        <div class="col-1"></div>
        <div class="col-1"><img src="./assets/uncomalogo.png" class="img-fluid" alt="uncomalogo" id="uncomalogo"></div>
        <div class="col">
            <h3>Universidad Nacional del Comahue (Neuquén, Argentina)</h3>
            <h5>Licenciatura en Sistemas de Información</h5>
            <h6>2022 - 2022</h6>
        </div>

    </div>

    <div class="row" id="margen">

        <div class="col-1"></div>
        <div class="col-1"><img src="./assets/eclalogo.jpg" class="img-fluid" alt="eclalogo" id="eclalogo"></div>
        <div class="col">
            <h3>Escuela Cooperativa Técnica Los Andes (San Carlos de Bariloche, Argentina)</h3>
            <h5>Tecnicatura en Automatización y Sistemas de control</h5>
            <h6>2016 - 2021</h6>
        </div>

    </div>

</div>