<div class="container" id="sizeproyectos">

    <div class="row">

        <div class="col-1"></div>
        <div class="col" id="margen"><h2>Proyectos</h2></div>

    </div>

    <div class="row" id="margen">

        <div class="col-1"></div>
        <div class="col"><h4>Portafolio Web</h4>
            <h6>Desarrollo de una aplicación web. Para FrontEnd: HTML y CSS con framework Bootstrap para estructura y estilos y Typescript con framework Angular</h6>
            <h6>para programación. Para BackEnd: Java con framework Springboot para programación y MySQL para base de datos.</h6>
        </div>

    </div>

    <div class="row" id="margen">

        <div class="col-1"></div>
        <div class="col"><h4>Proyecto iluminación Domótica</h4>
            <h6>Circuito que por medio de una aplicación web desde el celular móvil se puede controlar el encendido/apagado de un foco led. Consiste en una</h6>
            <h6>placa Arduino UNO conectada a un módulo WiFi (ESP8266), que a su vez, está conectado a un módulo relé (Circuito MOC3021) y al foco Led.</h6>
        </div>

    </div>

</div>