<div class="container" id="sizeproyectos">

    <div class="row">

        <div class="col-1"></div>
        <div class="col" id="margen"><h2>Proyectos</h2></div>

    </div>

    <div class="row" id="margen">

        <div class="col-1"></div>
        <div class="col-10"><h4>{{projectData.proyectos.first.name}}</h4>
            <h6>{{projectData.proyectos.first.info}}</h6>
        </div>

    </div>

    <div class="row" id="margen">

        <div class="col-1"></div>
        <div class="col-10"><h4>{{projectData.proyectos.second.name}}</h4>
            <h6>{{projectData.proyectos.second.info}}</h6>
        </div>

    </div>

</div>