<div class="container" id="sizeskills">

    <div class="row">

        <div class="col-1"></div>
        <div class="col" id="margen"><h2>Hard skills & Soft skills</h2></div>

    </div>

    <div class="row" id="margen">

        <div class="col">
            <h4 style="margin-left: 550px">{{skillsData.skills.first.name}}</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" style="width: 70%">
                    <span class="progress-bar-text">{{skillsData.skills.first.progress}}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="margen">

        <div class="col">
            <h4 style="margin-left: 500px">{{skillsData.skills.second.name}}</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" style="width:90%;">
                    <span class="progress-bar-text">{{skillsData.skills.second.progress}}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="margen">

        <div class="col">
            <h4 style="margin-left: 525px">{{skillsData.skills.third.name}}</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" style="width:70%;">
                    <span class="progress-bar-text">{{skillsData.skills.third.progress}}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="margen">

        <div class="col">
            <h4 style="margin-left: 550px">{{skillsData.skills.fourth.name}}</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" style="width:80%;">
                    <span class="progress-bar-text">{{skillsData.skills.fourth.progress}}</span>
                </div>
            </div>
        </div>

    </div>
    
</div>