<div class="container" id="sizeskills">

    <div class="row">

        <div class="col-1"></div>
        <div class="col" id="margen"><h2>Hard skills & Soft skills</h2></div>

    </div>

    <div class="row" id="margen">

        <div class="col">
            <h4 style="margin-left: 550px">Programación</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" style="width: 70%">
                    <span class="progress-bar-text">70%</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="margen">

        <div class="col">
            <h4 style="margin-left: 500px">Resolución de Problemas</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" style="width:90%;">
                    <span class="progress-bar-text">90%</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="margen">

        <div class="col">
            <h4 style="margin-left: 525px">Trabajo en equipo</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" style="width:70%;">
                    <span class="progress-bar-text">70%</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="margen">

        <div class="col">
            <h4 style="margin-left: 550px">Idioma Inglés</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" style="width:80%;">
                    <span class="progress-bar-text">80%</span>
                </div>
            </div>
        </div>

    </div>
    
</div>