<div class="container" id="sizeheader">

    <div class="row">
        <div class="col-sm-2"><img [src]="headerData.aplogo" class="img-fluid" alt="aplogo" id="aplogo"></div>
        <div class="col-3" id="yoprogramo"><h1>#YoProgramo</h1></div>
        <div class="col-sm-4"></div>
        <div class="col"><img [src]="headerData.iglogo" class="img-fluid" alt="iglogo" id="iglogo"></div>
        <div class="col"><img [src]="headerData.twlogo" class="img-fluid" alt="twlogo" id="twlogo"></div>
        <div class="col"><button type="button" class="boton">Login Edición</button></div>
    </div>
</div>